<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
    <test name="骑手端测试结果" preserve-order="true">
        <classes>
            <class name="com.xiaoxin.gdata.data.test.qa.rider.redirSetPageTest"></class>
            <class name="com.xiaoxin.gdata.data.test.qa.rider.riderStakeFormPageTest"></class>
        </classes>
    </test>

    <!-- 添加监听，生成测试报告 -->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.xiaoxin.gdata.service.caseservice.RetryListener"/>
        <listener class-name="com.xiaoxin.gdata.service.caseservice.TestngListener"/>
    </listeners>
</suite>